*,*::before,*::after{
  box-sizing:border-box;
}

body {
  @include font-standard;
  color: var(--color-gray-900);
  background-color: var(--color-white);
  margin:0;
}

a {
  @include font-standard;
  color: var(--color-theme);
  font-size: 1em;
  display: inline-block;

  &:active,
  &:visited,
  &:focus,
  &:hover {
    cursor: pointer;
  }


  &:hover {
    text-decoration: none;
  }
}


button {
  @include font-standard;
}

.nav-link{
  @include font-standard;
  color: var(--color-gray-900);
  text-decoration: none;
  font-size: 1em;
  display: inline-block;

  &:active,
  &:focus,
  &:hover {
    color: var(--color-theme);
  }

}